<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Se o caminho não for um arquivo existente
  RewriteCond %{REQUEST_FILENAME} !-f
  # E não for um diretório existente
  RewriteCond %{REQUEST_FILENAME} !-d
  # E não for um link simbólico
  RewriteCond %{REQUEST_FILENAME} !-l
  
  # Então, redirecione para index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>

# Permitir acesso de qualquer origem (CORS)
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>

# Definir tipos MIME
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>