@use '../../variables.scss';
@use "../../../node_modules/bulma/sass/utilities/mixins";





.button-mockup{
    background-color: variables.$verde !important;
    width: 8rem !important;  

    p{
        color: variables.$preto;
        margin-left: 5%;
      
    }

    span {
        margin-right: 5%;  
        
    }
}

.button-mockup:hover{
    background-color: transparent !important; ;
    border: 2px solid variables.$verde ;
    p{
        color: variables.$verde;
        
    }
    img {
        fill: variables.$verde !important;
    }
}






//Responsividade Desktop
  @include mixins.desktop { 
    .button-mockup{ 
        width: 10vw !important;
        padding: 8% 0 !important;
        border-radius: 10px !important;
    }

    p {
       font-size: 1.1rem;
       font-weight: bolder;
    }
    span{
        width: 40px !important;
      
     }

     .icon {
        width: 25px !important;
     }
     
  }

 
