$verde: #23CE99; 
$preto: #252527;
$branco: #D1D1D1;

.button-mockup{
    background-color: $verde !important;
    width: 8rem !important;
    

    p{
        color: $preto;
        margin-left: 5%;


    }

    span {
        margin-right: 5%;
  
    }
}

.button-mockup:hover{
    background-color: transparent !important; ;
    border: 2px solid $verde ;
    p{
        color: $verde;
        
    }
    img {
        fill: $verde !important;
    }
}


.icon:hover svg {
    fill: $verde; 
  }
  
  .icon-button.hovered .icon svg {
    fill: $verde; 
  }