@use '../../variables.scss';
@use "../../../node_modules/bulma/sass/utilities/mixins";







.button-mockup{

  
    background-color: variables.$verde !important;

    width: 10rem !important;  
    
    
   

    p{
        color: variables.$preto;
        margin-left: 5%;
      
    }

    span {
        margin-right: 5%;  
        
    }
}

.button-mockup:hover{
    background-color: transparent !important; ;

   

   
    p{
        color: variables.$verde;
        
    }
    img {
        fill: variables.$verde !important;
    }
}






 
