@use '../variables.scss';
@use "../../node_modules/bulma/sass/utilities/mixins";

@include mixins.desktop {

  .contact-container{
    margin-bottom: 5% !important;
  }

  .form-contato {
    width: 30vw !important;
  }
  textarea {
    width: 30vw !important;
  }



  .Enviar-button {
    width: 30vw !important;
    height: 6vh !important;
  }

}

.icon {
  i {
    color: variables.$branco;
  }
 
}

.form-contato {
  background-color: rgba($color: #000, $alpha: 0.4) !important;
 
 
  
}

input::placeholder, textarea::placeholder {
  color: variables.$branco !important;
  font-family: variables.$fonte;
  font-size: 1.2rem;
}

textarea {
  font-family: variables.$fonte !important;
  font-size: 1.2rem !important; 
  color: variables.$verde !important;
}

input {
  font-family: variables.$fonte !important;
  color: variables.$verde !important;
  font-size: 1.2rem !important; 
}



.Enviar-button {
 
  background-color: variables.$verde;
  color: variables.$preto;
  font-weight: bolder;
  width: 85vw;
  height: 12vw;
  border-radius: 5px;
  font-size: 1.2rem;
}

.Enviar-button:hover {
  background-color: transparent;
  border: 2px inset variables.$verde;
  color: variables.$verde;
}