@use '../variables.scss';
@use "../../node_modules/bulma/sass/utilities/mixins";

// Estilos gerais
.home-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 20px;
    font-family: variables.$fonte2;
    font-weight: lighter;
    height: 70vh;
  

}

.home-itens {
    width: 50vw;
    border: 1px dashed red;
   
}

.dashed {
    border: 1px dashed yellow;
}

