@use '../variables.scss';
@use "../../node_modules/bulma/sass/utilities/mixins";

// Estilos gerais
.home-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 20px;
    font-family: variables.$fonte2;
    font-weight: lighter;
    height: 70vh !important;
 
    
  

}

.home-itens {
    min-width: 50vw;
   
}

@media (max-width: 768px) {
    .home-itens {
        width: 80vw;
    }
}


.dashed {
    border: 1px dashed yellow;
}




.available {
    border: 1px solid rgba($color: variables.$branco, $alpha: 0.5);
    background-color: #000; 
    border-radius: 30px;
    padding: 0 2%;
    font-weight: normal;
 
    
    .icon {
    padding: 0px;
    line-height: 0px;
    margin-left: -4%;
    background: none;
   
    
    }

 

    
}
