
@use '../variables.scss';
@use "../../node_modules/bulma/sass/utilities/mixins";


nav {
    border: 1px solid #dedede;      
    border-radius: 100px;
    margin: 0 auto;    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color: #000, $alpha: 0.2);

    .brand {
        width: 8vw;
        cursor: pointer;
      
       

        img {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }
    }

    .botao {
    
    }
}