$verde: #23CE99; 
$preto: #252527;
$branco: #D1D1D1;



.green-style {
    color: $verde;
    
}

.navbar-brand {
    font-size: 2.2rem;
    margin-top: 2%;
}

.navbar-start {
    font-size: 1.2rem !important;
}

.absoluto {
    position: absolute;
    top: 80px;
    right: 0;
  
}


.navbar {

    padding: 0 20px;
    height: 80px;
    
    background-color: hsla(0, 0%, 100%, 0) !important;
}

.navbar-active{
    padding: 0 20px;
    height: 80px;
    background-color: $verde !important;  
    animation: fadeIn 0.5s;
    position: fixed;
    z-index: 900000;
    width: 100vw;

    .navbar-item p{
        background-color: $preto;
        border-radius: 5px;
        padding: 0 10px;
    }


    .navbar-burger > * {
        background-color: $preto !important; 
        
       
    } 

    .absoluto {
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #000;
        font-weight: bolder;

       

        .button{

            background: $verde !important;
            font-weight: bolder !important;
        
        }

    }
    

    
}



.navbar-burger > * {
    background-color: $verde !important; 
    
   
} 
.navbar-burger{

background-color: transparent !important;
transform: scale(2);
width: 50px !important;

}



