@use '../variables.scss';




//Controla o container em que está o texto e a imagem
.about-text-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85vw;
  

    p {
      
        width: 100%;
    }
    img {
        
        width: 100%;
        border: 10px solid variables.$verde;
    }
}




//Controla os h1 e coloca os <> nos parágrafos

.categories {
    color: variables.$verde;
    font-size: 2rem;
    text-align: left;
   
    width: 90vw;
}

.categories::after {
    content: '>';    
    width: 100%;
    height: 2px;
}

.categories::before {
    content: '<';    
    width: 100%;
    height: 2px;
}