@use '../variables.scss';
@use "../../node_modules/bulma/sass/utilities/mixins";


@include mixins.desktop {

    .icons-skills{
        width: 70vw !important;
        grid-template-columns: repeat(8, 1fr) !important;
        
        .icon-sk{
            
        }
    }

}


.icons-skills {

  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
    row-gap: 20px;  
    column-gap: 2%;
    width: 90vw; 
    justify-items: center;
    align-items: center; 

  


.icon-sk {
    display: flex;
    flex-direction: column;
    width: 70px;   
    justify-items: center;  // Adicionado para alinhar horizontalmente ao centro
    align-items: center; 


    
   



i {
    font-size: 3.5rem;         
    margin: 0 auto;    

}

i:hover {
    color: variables.$verde;
}

p {
       
    font-family: variables.$fonte;
    font-size: 0.8rem;
    text-align: center;        
}
}}

