@use "../node_modules/bulma/sass/utilities/mixins";
$verde: #23ce99;
$preto: #252527;
$branco: #d1d1d1;

#particles canvas {
  z-index: -100;

  width: 100%;
  position: absolute;
}

@include mixins.tablet {
  .icon:hover svg {
    fill: $verde;
  }

  .icon-button.hovered .icon svg {
    fill: $verde;
  }
}
