@tailwind base;
@tailwind components;
@tailwind utilities;

$verde: #23CE99; 
$preto: #252527;
$branco: #D1D1D1;




body {
  font-family: 'Inter', sans-serif !important;
  
  color: $branco;
  font-weight: bolder;
  overflow-y: auto !important;  // Garantir que o body permite rolagem

}


